{% extends "base_template.html" %}

{% block content %}
	<img class="userpic msgpic" 
		src="http://graph.facebook.com/{{ post_user.id }}/picture?type=square"
		alt="{{ post_user.name|escape }}"
		title="Link shared by {{ post_user.name|escape }}"/>
	<div class="msgpic">        
		This link is shared by <a class="fbcolor" href="{{post_user.profile_url}}">{{post_user.name|escape}}</a><br/>
		and works only for {{post_user.first_name|escape}}'s friends on Facebook<br/>
		<span class="attention">Please login to proceed:</span>
	</div>
{% endblock %}

{% block action %}
<div class="center"><fb:login-button size="large" background="white"></fb:login-button></div>
{% endblock %}
